<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <div class="sidebar-brand-text mx-3" *ngIf="isAdmin">LIBRARIAN</div>
      <div class="sidebar-brand-text mx-3" *ngIf="!isAdmin">USER</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
      Interface
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/books']">
        <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Books</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" [routerLink]="['/users']">
        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Users</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" [routerLink]="['/transactions']">
        <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Reserved Books</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="isAdmin">
      <a class="nav-link collapsed" [routerLink]="['/oldtransactions']">
        <i class="fa fa-repeat" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Returned Books</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="!isAdmin">
      <a class="nav-link collapsed" [routerLink]="['/mytransactions']">
        <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>My Transactions</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/fines']">
        <i class="fa fa-money" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Fines</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" [routerLink]="['/myprofile']">
        <i class="fa fa-user"></i> &nbsp;&nbsp;&nbsp;&nbsp;
        <span>My Profile</span>
      </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

  </ul>
