<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
      <i class="fa fa-bars"></i>
    </button>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <!-- Nav Item - Alerts -->
      <li class="nav-item no-arrow mx-4">
        <h3 class="mx-4 pt-3">
          {{username}}
        </h3>
      </li>

      

      <div class="topbar-divider d-none d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
          <button class="btn btn-lg " (click)="logOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;
          Logout
          </button>
      </li>

    </ul>

  </nav>
