<div class="modal-header">
  <h4 class="modal-title">Add user</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="checkoutForm" (ngSubmit)="addNewUser(checkoutForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Student Id</label>
      <input type="number" class="form-control" formControlName="studentId" id="studentId" aria-describedby="emailHelp"
        placeholder="Enter Title">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email Address</label>
      <input type="email" class="form-control" formControlName="userEmail" id="userEmail" placeholder="Email Address">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">password</label>
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Role</label>
      <!-- <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Role"> -->
      <select class="form-control" formControlName="role" id="role">
        <option value="librarian">Librarian</option>
        <option value="borrower">Borrower</option>
      </select>
    </div>

    <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>