
body {
    // height: 100vh;
    // background: #e8eccf;    
    margin: 0;
    box-sizing: content-box;
}

.actionForm{
    display: flex;
    flex-direction: column;
}

.actionForm> * {
    width: 40%;
}