<div class="homeView">

    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="2px">
      <mat-grid-tile>
        <mat-card [routerLink]="['lend-item']" class="actionCard">
          <mat-card-content>
            <!-- <i class="material-icons">
                  assignment_return
                  </i>
            <a class="card-body text-center bg-primary text-light item-links">Lend Item </a>       
              -->
            <button mat-mini-fab color="primary"> <i class="material-icons">
                assignment_return
              </i>
              </button>
              <a class="card-body text-center bg-primary text-light item-links">Lend Item </a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card [routerLink]="['return-item']" class="actionCard">
          <mat-card-content>
            <a class="card-body text-center bg-primary text-light item-links">Return Item</a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card [routerLink]="['add-item']" class="actionCard">
          <mat-card-content>
            <a class="card-body text-center bg-primary text-light item-links">Add Item</a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card [routerLink]="['delete-item']" class="actionCard">
          <mat-card-content>
            <a class="card-body text-center bg-primary text-light item-links">Delete Item</a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card [routerLink]="['view-all']" class="actionCard">
          <mat-card-content>
            <a class="card-body text-center bg-primary text-light item-links">View Items</a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-card [routerLink]="['report']" class="actionCard">
          <mat-card-content>
            <a class="card-body text-center bg-primary text-light item-links">Genereate Report</a>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
  </div>