<div class="modal-header">
  <h3 class="modal-title">{{transaction.book.title}}</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

      <div class="container-fluid">
        <div class="card-body d-flex ">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
              src="data:image/jpeg;base64,{{transaction.book.book_image}}" alt="">
          </div>
          <div class="px-3 px-sm-4 mt-3 mb-4">
            <div>
              <div>Borrowed by {{transaction.user.firstName}} {{transaction.user.lastName}}</div><br>
              <div>Checkin date : {{transaction.checkin_date}}</div><br>
              <div>Checkout_date : {{transaction.checkout_date}}</div><br>
              <div>Fine : {{transaction.fine}}</div><br>
              <div>{{transaction.renew_flag}} time renewed</div><br>
            </div>
          </div>
          <!-- <div class="px-3 px-sm-4 mt-3 mb-4">
          <button class="btn btn-lg btn-outline-primary" (click)="renewBook()">Click to Renew </button></div>

          <div class="px-3 px-sm-4 mt-3 mb-4">
            <button class="btn btn-lg btn-outline-primary" (click)="returnBook()">Click to Return Book </button></div> -->
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <div class="px-3 px-sm-4 mt-3 mb-4">
        <button class="btn btn-lg " (click)="renewBook()">Click to Renew </button></div>

        <div class="px-3 px-sm-4 mt-3 mb-4" *ngIf="isAdmin">
          <button class="btn btn-lg" (click)="returnBook()">Click to Return Book </button></div>
    </div>
