<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-nav-bar></app-nav-bar>
      <!-- <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{bookObj.title}}</h6>
  </div> -->
  
  

      <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{transaction.book.title}} Borrowed By {{transaction.user.firstName}}</h1>
          <button class="btn btn-lg btn-outline-primary">Edit </button>
        </div>
        <div class="card-body d-flex ">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
              src="data:image/jpeg;base64,{{transaction.book.book_image}}" alt="">
          </div>
          <div class="px-3 px-sm-4 mt-3 mb-4">
            <div>
              Borrowed by {{transaction.user.firstName}} {{transaction.user.lastName}}<br>
              Checkin date {{transaction.checkin_date}}<br>
              Checkout_date {{transaction.checkout_date}}<br>
              Fine {{transaction.fine}}<br>
              {{transaction.renew_flag}} time renewed<br>
            </div>
          </div>
          <div class="px-3 px-sm-4 mt-3 mb-4">
          <button class="btn btn-lg btn-outline-primary" (click)="renewBook()">Click to Renew </button></div>
        </div>
      </div>
    </div>
  </div>
</div>