<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-nav-bar></app-nav-bar>
            <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{bookObj.title}}</h6>
    </div> -->



            <div class="container-fluid">

                <form>
                    <div class="form-group form-inline">
                        Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
                            [(ngModel)]="searchTerm" />
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                              
                                <th>BookId</th>
                                <th>Book Name</th>
                                <th>ISBN</th>
                                <th>UniversityId</th>
                                <th>Chekin date</th>
                                <th>Checkout Date</th>
                                <th>Renew Flag</th>
                                <th>Fine</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let transaction of transactions | filter:searchTerm | paginate: {itemsPerPage: 10, currentPage: p}">
                                <!-- <th scope="row">{{ i }}</th> -->
                                <td>
                                    <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{ transaction.bookId }}
                                </td>
                                <td>
                                    {{ transaction.book.title}}
                                </td>
                                <td>
                                    {{ transaction.book.isbn}}
                                </td>

                                <td>
                                    <!-- <ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{transaction.universityId}}
                                </td>
                                <td>
                                    <!-- <ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{transaction.checkin_date}}
                                </td>
                                <td>
                                    {{transaction.checkout_date}}
                                </td>
                                <td>
                                    {{transaction.renew_flag}}
                                </td>
                                <td>
                                    {{transaction.fine}}
                                </td>
                                <td>
                                    <button class="btn" (click)=renewTransaction(transaction.id)><i class="fa fa-expand" aria-hidden="true"></i></button>
                                    <!-- <button class="btn" (click)=returnTransaction(transaction.id)><i class="fa fa-repeat" aria-hidden="true"></i></button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <!-- <div class="col-xl-3 col-md-6 mb-4" *ngFor= "let user of users | filter:searchTerm | paginate: {itemsPerPage: 2, currentPage: p}">
    <app-item-card [userObj]="user"></app-item-card>
  </div> -->



                    <pagination-controls (pageChange)="p= $event"></pagination-controls>

                </form>

            </div>
        </div>
    </div>
</div>