<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-nav-bar></app-nav-bar>
            <div class="container-fluid" *ngIf="user!=null">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">{{user.firstName}} {{user.lastName}}</h1>
                    <button class="btn btn-lg btn-outline-primary" (click)="editUserDetails()">Edit </button>
                </div>
                <div class="row">
                    <div class="text-center d-flex col-sm-3">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="assets/img/user.png" alt="">
                    </div>
                    <div class="card col-md-6">
                        <!-- <div class="col-xs-12 col-sm-9"> -->
							<div class="profile-user-info">
								<div class="profile-info-row">
									<div class="profile-info-name"> Email Address :  </div>

									<div class="profile-info-value">
										<span>{{user.username}}</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> User Role :  </div>

									<div class="profile-info-value">
										<span>{{user.role}}</span>
									</div>
								</div>
								
								<div class="profile-info-row">
									<div class="profile-info-name"> Telephone Number :  </div>

									<div class="profile-info-value">
										<span>{{user.telephones[0].number}}  {{user.telephones[1].number}}</span>
									</div>
                                </div>
                                
                                <div class="profile-info-row">
									<div class="profile-info-name"> University Id :  </div>

									<div class="profile-info-value">
										<span>{{user.universityId}}</span>
									</div>
								</div>

								<!-- <div class="profile-info-row">
									<div class="profile-info-name"> Role :  </div>

									<div class="profile-info-value">
										<span>{{user.roles[0].role}}</span>
									</div>
								</div> -->

								<!-- <div class="profile-info-row">
									<div class="profile-info-name"> Age </div>

									<div class="profile-info-value">
										<span>38</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Joined </div>

									<div class="profile-info-value">
										<span>2010/06/20</span>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name"> Last Online </div>

									<div class="profile-info-value">
										<span>3 hours ago</span>
									</div>
								</div> -->
							</div>

							<div class="hr hr-8 dotted"></div>

						<!-- </div> -->
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>