<div id="wrapper">
    <app-side-bar></app-side-bar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-nav-bar></app-nav-bar>
            <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{bookObj.title}}</h6>
    </div> -->



            <div class="container-fluid">

                <form>
                    <div class="form-group form-inline">
                        Full text search: <input class="form-control ml-2" type="text" name="searchTerm"
                            [(ngModel)]="searchTerm" />
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Publisher</th>
                                <th>Year of publication</th>
                                <th>Location</th>
                                <th>Number of copies</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let book of books | filter:searchTerm | paginate: {itemsPerPage: 5, currentPage: p}">
                                <!-- <th scope="row">{{ i }}</th> -->
                                <td>
                                    <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{ book.isbn }}
                                </td>

                                <td>
                                    <!-- <ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{book.title}}
                                </td>
                                <td>
                                    <!-- <ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight> -->
                                    {{book.author}}
                                </td>
                                <td>
                                    {{book.publisher}}
                                </td>
                                <td>
                                    {{book.year_of_publication}}
                                </td>
                                <td>
                                    {{book.location}}
                                </td>
                                <td>
                                    {{book.num_of_copies}}
                                </td>
                                <td>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                    <!-- <div class="col-xl-3 col-md-6 mb-4" *ngFor= "let user of users | filter:searchTerm | paginate: {itemsPerPage: 2, currentPage: p}">
    <app-item-card [userObj]="user"></app-item-card>
  </div> -->



                    <pagination-controls (pageChange)="p= $event"></pagination-controls>

                </form>

            </div>
        </div>
    </div>
</div>