<div class="modal-header">
  <h4 class="modal-title">Add book</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="checkoutForm"  (ngSubmit)="addNewBook(checkoutForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" aria-describedby="emailHelp"
        placeholder="Enter Title">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">ISBN</label>
      <input type="text" class="form-control" formControlName="isbn" id="isbn" placeholder="ISBN">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input type="text" class="form-control" formControlName="author" id="author" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Publisher</label>
      <input type="text" class="form-control" formControlName="publisher" id="publisher" placeholder="Publisher">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Year of publication</label>
      <input type="text" class="form-control" formControlName="year_of_publication" id="year_of_publication"
        placeholder="Year of publication">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Location</label>
      <input type="text" class="form-control" formControlName="location" id="location" placeholder="Location">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Number of copies</label>
      <input type="number" class="form-control" formControlName="num_of_copies" id="num_of_copies"
        placeholder="Number of copies">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Image</label>
      <!-- <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event.target.files)" id="image"> -->


          <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />







    </div>

    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>