
<div class="card shadow mb-4" *ngIf="bookObj" (click)=showBookDetalis(bookObj)>
  <!-- <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{bookObj.title}}</h6>
  </div> -->
  <div class="card-body">
    <div class="text-center">
      <div class="text-center p-2">
        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem; height: auto;"
        src="data:image/jpeg;base64,{{bookObj.book_image}}" alt="">
      </div>
    </div>
    <!-- <div>
      {{bookObj.title}} by {{bookObj.author}}
    </div> -->
    
  </div>
</div>

<div class="card shadow mb-4" *ngIf="transactionObj" (click)=showTransactionDetalis(transactionObj)>
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Return date : {{transactionObj.checkout_date}}</h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      <div class="text-center p-2">
        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem; height: auto;"
          src="data:image/jpeg;base64,{{transactionObj.book.book_image}}" alt="">
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4" *ngIf="fineObj" (click)=showFineDetalis(fineObj)>
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Rs. {{fineObj.fine}}</h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      <div class="text-center p-2">
        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15rem; height: auto;"
          src="data:image/jpeg;base64,{{fineObj.book.book_image}}" alt="">
      </div>
    </div>
    <!-- <div>
      Borrowed by {{fineObj.user.firstName}} {{fineObj.user.lastName}}<br>
      Checkin date {{fineObj.checkin_date}}<br>
      Checkout_date {{fineObj.checkout_date}}<br>
      Fine {{fineObj.fine}}<br>
      {{fineObj.renew_flag}} time renewed<br>
    </div> -->
    
  </div>
</div>

<div class="card shadow mb-4" *ngIf="userObj" (click)=showUserDetalis(userObj)>
  <div class="card-body">
    <div class="text-center">
      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/user.png" alt="">
    </div>
    <h3 class="m-0 font-weight-bold text-primary text-center">{{userObj.firstName}}</h3>
    <div>University Id : {{userObj.universityId}}</div>
    <div>Email Address : {{userObj.username}}</div>
    <!-- <div>Role : {{userObj.role}}</div> -->
  </div>
</div>