<div class="modal-header">
    <h4 class="modal-title">Add transaction</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <form [formGroup]="addTransactionForm" (ngSubmit)="addNewTransaction(addTransactionForm.value)">
      <div class="form-group">
        <label for="exampleInputEmail1">bookId</label>
        <input type="text" class="form-control" formControlName="bookId" id="studentId" placeholder="Enter Book Id">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">University Id</label>
        <input type="text" class="form-control" formControlName="universityId" id="universityId" placeholder="Enter University Id">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  
  </div>
